<html>
  <head>
    <title>Todo List</title>
  </head>
  <body>
    <h1>Todo List</h1>
    <form action="/todos" method="post">
      <input type="text" name="content" placeholder="New Todo" required>
      <button type="submit">Add</button>
    </form>
   
  </body>
</html>