<html>
  <head>
    <title>Todo List</title>
  </head>
  <body>
    <h1>Todo List</h1>
    <form action="/todos" method="post">
      <input type="text" name="content" placeholder="New Todo" required>
      <button type="submit">Add</button>
    </form>
    <ul>
      <% todos.forEach(todo => { %>
        <li>
          <%= todo.content %>
          <% if (todo.completed) { %>
            <span style="color: green;">(Completed)</span>
          <% } else { %>
            <form action="/todos/<%= todo.id %>/complete" method="post">
              <input type="hidden" name="completed" value="true">
              <button type="submit">Complete</button>
            </form>
          <% } %>
          <a href="#" onclick="deleteTodo('<%= todo.id %>'); return false;">Delete</a>

        </li>
      <% }) %>
    </ul>
    <form action="/todos/clear-completed" method="post">
      <button type="submit">Clear All Completed</button>
    </form>
    <script>
      const deleteTodo = async (todoId) => {
        try {
          const response = await fetch(`/todos/${todoId}/delete`, {
            method: 'DELETE'
          });
    
          if (response.ok) {
            location.reload(); // Refresh the page after successful deletion
          } else {
            console.error('Error deleting todo');
          }
        } catch (error) {
          console.error(error);
        }
      };
    </script>
  </body>
</html>