body.gray {
    background-color: #877cd4;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  .form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 300px;
  }
  
  .form input[type="text"],
  .form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #341f97;
    color: white;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #6f42c1;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
  }
  
  p a {
    color: #ffffff;
    text-decoration: none;
  }